@font-face {
font-family: daedric;
src: url(Daedra.otf);
}

@font-face {
font-family: morrowind;
src: url(MagicCardsNormal.ttf);
}

body {
  background-color: blanchedalmond;
  margin: 0px;
}
header {
font-family: "Courier New", Courier, monospace;
font-weight: normal;
font-size: 100px;
/*background: rgba(150, 150, 150, 1*/
border-radius: 0px;
background-image: url('bismuth1faded.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
  font-family: "morrowind";

}
h2 {
font-size: 25px;
font-family: "morrowind";
}

h3 {
font-family: "morrowind";
}

h6 {
	
}

p {
font-family: "morrowind";	
}

div {

}
	
th {
	
}

td {

  }
  
  #navbar {
	  padding-right: 50px;
	  padding-left: 50px;
  }
  
 #googlesearch {
 }
 
 #divider {
	 background: rgba('244, 0, 244, 1');
 }
 
#hoverhidden:hover {
	 opacity: 1;
}
	
	