body {
  background-image: url('bismuth1bw.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header {
font-family: "Courier New", Courier, monospace;
font-weight: normal;
font-size: 100px;
background: rgba(150, 150, 150, 0.7);
}
h1 {
  text-decoration: underline overline;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
h2 {
font-size: 25px;
font-family: "Consolas", Monaco, monospace;
}

h3 {
font-family: "Consolas", Monaco, monospace;
}

h6 {
	
}

div {
	background: rgba(150, 150, 150, 0.7);
	border-radius: 25px;
	font-family: "Consolas", Monaco, monospace;
}
	
th {
	text-decoration: underline overline;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}

td {
font-size: 40px;
font-family: "Consolas", Monaco, monospace;
  }
  
 #googlesearch {
 }
 
 #divider {
	 background: rgba('244, 0, 244, 1');

	 
	
	